.section {
  padding-top: 20px;
}

.box {
  display: grid;
  justify-content: center;
  gap: 15px;

  &.isWaiter {
    padding-bottom: 30px;
  }
}

.divider {
  border-top: 8px solid var(--color-orange);
  border-radius: 5px;
  margin-top: 0.4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
