.backBtn {
  width: 86px;
}

.navigateBtns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.leftBtns {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.waiterBtns {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}

.iconBtns {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
}

.iconBtn {
  position: relative;
}

.iconBtnValue {
  color: var(--color-status);
  position: absolute;
  top: -14px;
  right: -2px;
}

.iconDishes {
  width: 35px;
  height: 35px;
}

.icon {
  width: 35px;
  height: 35px;
}

.icon {
  width: 35px;
  height: 35px;
}

.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
