.btn {
  height: 50px;
  width: 180px;
}

.btnsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &.isWaiter {
    flex-direction: column;
    @media screen and (min-width: 700px) {
      flex-direction: row;
    }
  }
}

.btns {
  display: flex;
  gap: 10px;
}

.totalText {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.text {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-blue-dark);
}

.checkboxes {
  display: flex;
  gap: 10px;
  @media screen and (min-width: 700px) {
    flex-direction: column;
  }
}
