.box {
  display: grid;
  gap: 15px;
}

.btnsBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: auto;
  gap: 10px;
  padding-bottom: 70px;

  // @media screen and (min-width: var(--md-mobile)) {
  //     grid-template-columns: auto auto;
  //   }
}

.layout {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-orange-transparent);
}
