.table {
  width: 280px;
  height: 340px;
  background-color: var(--color-bg);
  border: 1px solid #ccc;
  border-radius: 8px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
