.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  color: var(--color-blue-dark);
  padding: 10px;
  border-radius: 10px;
  background-color: var(--color-white);
  height: 100%;
  min-height: 350px;
  overflow-y: hidden;
  overflow-x: auto;
}

.text {
  font-size: 14px;
  @media screen and (min-width: 850px) {
    font-size: 16px;
  }
}

.table {
  border: var(--border-primary);
  text-align: center;
  border-collapse: collapse;
}

.calendar {
  position: absolute;
  z-index: 10;
  top: 40px;
}

.th {
  width: 150px;
  max-width: 200px;
  position: relative;
  border-bottom: var(--border-primary);
  background: var(--color-bg-gray);
  border-right: var(--border-primary);
  padding: 10px;
  font-size: 10px;

  @media screen and (min-width: 1191px) {
    font-size: 14px;
  }
}

.td {
  font-size: 16px;
  border-right: var(--border-primary);
  padding: 5px;
  border-bottom: var(--border-primary);
}

.tr {
  border-bottom: none;
}
.btnsBox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 1191px) {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
  }
}

.paginationBox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.inputBox {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input {
  border: var(--border-primary);
  border-radius: 10px;
  padding: 5px;
  width: 50px;

  &:focus {
    outline: 1px solid var(--color-orange-hover);
  }
}

.loader {
  width: 30px;
}

.select {
  display: flex;
  align-items: center;
  gap: 10px;
}

.span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  @media screen and (min-width: 1191px) {
    font-size: 14px;
  }
}

.inputSelectBox {
  display: flex;
  height: 30px;
  justify-content: space-around;
}

.emptyBox {
  display: grid;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-left: auto;
  margin-right: auto;
  color: var(--color-orange);
}

.calendarBox {
  position: relative;
}

.calendarValue {
  color: var(--color-orange);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.dateIcon {
  color: var(--color-orange);
}
