/* CustomSelect.module.scss */

.customSelect {
  position: relative;
  display: inline-block;
  border: 1px solid var(--color-orange);
  background-color: var(--color-white);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;

  &__sm {
    font-size: 14px;
  }

  &__md {
    font-size: 16px;
  }

  &__lg {
    font-size: 18px;
  }

  .selectedValue {
    padding: 0.5rem 1rem;
  }

  .optionsList {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .option {
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var(--color-orange);
      color: var(--color-white);
    }
  }
}
