.btn {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-color: var(--color-orange);
  border-radius: 50%;
  background: var(--color-orange);

  transition-property: background, color, border-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.clear {
  background: none;
  &:hover,
  &:focus {
    .icon {
      color: var(--color-orange-hover);
    }
  }
  .icon {
    color: var(--color-orange);
  }
}

.filled {
  outline-color: var(--color-orange);
  border-radius: 50%;
  background: var(--color-orange);
  border: var(--border-primary);

  &:hover,
  &:focus {
    background: var(--color-white);
    color: var(--color-orange);

    .icon {
      color: var(--color-orange);
    }
  }
}

.outlined {
  color: var(--color-orange);
  border: 2px solid var(--color-orange);
  background: none;

  &:hover,
  &:focus {
    background: var(--color-orange);

    .icon {
      color: var(--color-white);
    }
  }

  .icon {
    color: var(--color-orange);
  }
}

.disabled {
  border-color: var(--color-gray-700);
  background: var(--color-gray-700);
  cursor: not-allowed;

  &:hover,
  &:focus {
    background: var(--color-gray-600);
    border-color: var(--color-gray-600);
    .icon {
      color: var(--color-white);
    }
  }

  .icon {
    color: var(--color-white);
  }
}

.icon {
  color: var(--color-white);
}
