.container {
  padding: 20px;
}

.title {
  margin-bottom: 30px;
}

.status__container {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.status__card {
  background-color: var(--color-orange-transparent);
  width: calc(100% / 3);
  box-shadow: var(--box-shadow);
  min-height: 100vh;
  border-radius: 20px;
  padding: 20px;
}

.status__title {
  margin-bottom: 20px;
}
