.draggableIngredient {
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  background-color: #fff;
  cursor: move;
}
