.header {
  background-color: #f5dccc;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;

  &__logo {
    object-fit: cover;
  }
  &__img {
    width: 80px;
    height: 50px;
  }
  &__button {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 30px;
    height: 30px;
    color: currentColor;
    margin-left: 20px;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    color: var(--color-gray);
    &:hover,
    &:focus {
      color: var(--color-orange);
    }
    &:global.active {
      color: var(--color-orange);
    }
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__link-button {
    margin-left: 20px;
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    border: 2px solid var(--color-orange);
    color: var(--color-orange);
    font-weight: var(--font-semi-bold);
    &:hover,
    &:active {
      background: var(--color-orange-hover);
      color: var(--color-white);
    }
  }
}
