.header {
  background-color: var(--color-bg-dark);
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;

  &__logo {
    object-fit: cover;
    margin-right: 1rem;
  }
  &__img {
    width: 80px;
    height: 50px;
    @media screen and (min-width: 767px) {
      width: 80px;
      height: 80px;
    }
  }
  &__button {
    display: flex;
    align-items: center;
  }
  &__icon {
    width: 30px;
    height: 30px;
    color: var(--color-orange);
  }
  &__link {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }
  &__wrapper {
    display: flex;
  }
}
