.container {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--color-gray-100);
  margin-bottom: 10px;
  box-shadow: var(--box-shadow);
}

.list {
  padding: 1rem;
  position: absolute;
  top: 100px;
  right: 0;
}
.icon {
  display: block;
  margin-left: auto;
  margin-bottom: 8px;
  color: var(--color-orange);
  cursor: pointer;
}
