.status {
  // width: 70px;
  // padding: 3px 5px;
  color: #fff;
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 12px;
  &_sm {
    width: 70px;
    padding: 3px 5px;
    border-radius: 20px;
  }
  &_lg {
    width: 89px;
    padding: 7px 5px;
    border-radius: 12px;
  }
}
